@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'tailwindcss';

:root {
    --black: #0D0D0D;
    --main-dark: #121212;
    --light-main-dark: #181818;
    --green-dark: #161712;
    --brown-dark: #1F1B18;
    --dark-gold: #AC8F37;
    --old-gold: #B5A642;
    --straw: #EEE07A;
    --amber: #FFBF00;
    --orange: #FF5722;
    --light: #f7f7f7;
    --purple: #312E81;
    --vibrant-purple: #9333EA;
    --pink: #EC4899;
    --light-purple: #9A8EE8;
    --blue: #0EA5E9;
    --github: #E5E7EB;
    --yellow: #FDE047;

    --p: #FFDAB9;
    --m: #A7FFEB;
    --g: #E0E0E0;
    --b: #AEEFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}

#home,
#about,
#portfolio,
#contact {
    scroll-margin-top: 82px;
}

body {
    background-color: #121212;
    font-family: 'Space Mono', monospace;
    font-weight: 600;
    color: var(--light);
    cursor: none;
}

button {
    cursor: url('/assets/custom-cursor.png'), auto;
}

/* Navbar */

.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    background: #12121284;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-image: url("data:image/svg+xml;utf8,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='0' y1='0' x2='10' y2='10' stroke='rgba(13, 13, 13, 0.4)' stroke-width='0.5'/><line x1='5' y1='0' x2='0' y2='5' stroke='rgba(13, 13, 13, 0.4)' stroke-width='0.5'/></svg>");
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    color: var(--dark-gold);
}

#nav-logo {
    height: 50px;
    border: 3px solid var(--dark-gold);
    border-radius: 20px;
}
.burger-menu {
    display: flex;
    align-items: center;
    font-size: 3.5rem;
    padding: 0.75rem 0.25rem 1.6rem;
    border: 3px solid var(--dark-gold);
    border-radius: 10px;
    max-height: 50px;
    cursor: pointer;
}

.nav-links {
    display: none;
    position: fixed;
    top: 100%;
    right: 0.5rem;
    background: var(--brown-dark);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px var(--light-purple);
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
    z-index: 2000;
    font-size: 1.1rem;
    color: var(--dark-gold);
}
.nav-links a:hover {
    color: var(--amber);
    transition: 0.3s ease-in-out;
}

.nav-links.active {
    display: flex;
}

/* Mouse Effect */

.gold-glow {
    position: fixed;
    pointer-events: none;
    width: 50px;
    height: 50px;
    background: radial-gradient(circle, var(--old-gold, var(--straw)));
    border-radius: 50%;
    filter: blur(15px);
    transform: translate(-15%, -15%);
    z-index: 999;
}

.pulse {
    position: fixed;
    pointer-events: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid var(--light-purple);
    background: transparent;
    z-index: 1000;
    animation: expand 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes expand {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    50% {
        transform: scale(1);
        opacity: 0.5;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

/* Downloadable CV */

.download-cv {
    display: flex;
    flex-direction: column;
    padding: 0.4rem 0.2rem;
    border-radius: 10px;
    align-items: center;
    position: fixed;
    top: 90px;
    right: 2.8rem;
    z-index: 1000;
    transition: 0.2s ease-in-out;
}

.download-cv:hover {
    box-shadow: 0px 0px 5px 5px var(--vibrant-purple);
    scale: 1.05;
}

.download-cv:active {
    scale: 0.9;
    box-shadow: 0px 0px 5px 5px #2563EB;
}


/* Header Section */

.progress-bar {
    height: 12px;
    position: fixed;
    top: 0;
    left: 0;
    width: 105%;
    z-index: 1000;
    border-radius: 50px;
}

.progress-bar::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, -0.2));
    pointer-events: none;
}

.header-section {
    color: var(--light);
    min-height: 100dvh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0rem 4rem;
}

.header-section h1 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
}
.header-section hr {
    width: 75%;
}

/* Header Animations */

.typewriter-effect {
    animation: blink 1s steps(2, start) infinite;
    color: var(--pink);
}

.hidden {
    display: none;
}

.header-message {
    opacity: 0;
    text-align: center;
    color: var(--dark-gold);
    margin-bottom: 0.5rem;
}

.header-message.visible {
    opacity: 1;
    transform: scale(1.1);
    transition: opacity 4s, transform 2s;

}

@keyframes blink {
    to {
        opacity: 0;
    }
}

.glow {
    background-color: var(--purple);
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
    left: 15%;
    z-index: -1;
    filter: blur(80px);
}

/* About Section */

.about-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0rem 5rem;
    min-height: 110dvh;
}
hr.glow2 {
    position: relative;
    z-index: 1;
    overflow: visible;
}
hr.glow2:before {
    content: "";
    position: absolute;
    background-image: linear-gradient(90deg, var(--purple), var(--light-purple));
    width: 110%;
    height: 20px;
    transform: translate(-2%, -50%);
    z-index: -1;
    filter: blur(25px);
    pointer-events: none;
}

.image-section > * {
    width: 50%;
    border: 1px solid var(--old-gold);
    margin-top: -3rem;
}
.about-intro {
    margin-bottom: 5rem;
}
.about-intro h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
}
.purple-titles {
    background: linear-gradient(90deg, var(--vibrant-purple), var(--pink));
    color: transparent;
    background-clip: text;
    width: fit-content;
}

.image-section {
    display: flex;
    justify-content: center;
    align-items: center;

}
.profile-image-container {
    border-radius: 50%;
    border: 2px solid var(--old-gold);
    background-image: url("/assets/profile-image.jpeg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
    box-shadow:
        2px 2px 4px 4px var(--brown-dark);
}

.about-skills h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.about-segments {
    background-color: #EC4899;
    border-radius: 50px;
}

/* Technologies Section */

#tech-section {
    min-height: 100dvh;
}
.technology-title {
    margin: 5rem 0rem;
}

/* Styling Flip Cards */

.perspective {
    perspective: 1000px;
}

.backface-hidden {
    backface-visibility: hidden;
}

.transform-style {
    transform-style: preserve-3d;
}
.front-side, .back-side {
    border-radius: 20px;
}

.front-side {
    background-color: var(--purple);
    box-shadow: 0px 0px 4px 4px var(--black);
}
.back-side {
    background-color: var(--orange);
    box-shadow: 0px 0px 5px 5px var(--light);
}

.card-image {
    width: 85%;
    border-radius: 25px;
}
.card-title {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    padding: 1rem;
}

/* Portfolio Section */

#portfolio {
    min-height: 110dvh;
    margin: 5rem 0rem;
}

.portfolio-title {
    width: 100%;
    margin: 5rem 0rem;
}

#portfolio ul {
    position: relative;
}
#portfolio ul:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -35px;
    width: 2px;
    color: white;
    background-color: white;
    height: 100%;
    z-index: 400;
}
#portfolio ul li {
    position: relative;
}
#portfolio ul li:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(135deg, var(--purple), var(--vibrant-purple), var(--pink));
    z-index: 400;
    left: -44.5px;
    top: 42%;
}

/* Dates for list items */

#portfolio-1:after {
    content: "09/25";
    display: inline-block;
    rotate: 270deg;
    position: absolute;
    left: -87px;
    top: 41%;
    opacity: 0.6;
}
#portfolio-2:after {
    content: "09/25";
    display: inline-block;
    rotate: 270deg;
    position: absolute;
    left: -87px;
    top: 41%;
    opacity: 0.6;
}
#portfolio-3:after {
    content: "08/25";
    display: inline-block;
    rotate: 270deg;
    position: absolute;
    left: -87px;
    top: 41%;
    opacity: 0.6;
}
#portfolio-4:after {
    content: "08/25";
    display: inline-block;
    rotate: 270deg;
    position: absolute;
    left: -87px;
    top: 41%;
    opacity: 0.6;
}
#portfolio-5:after {
    content: "06/25";
    display: inline-block;
    rotate: 270deg;
    position: absolute;
    left: -87px;
    top: 41%;
    opacity: 0.6;
}
#portfolio-6:after {
    content: "05/25";
    display: inline-block;
    rotate: 270deg;
    position: absolute;
    left: -87px;
    top: 41%;
    opacity: 0.6;
}

.portfolio-image-wrapper {
    min-height: 200px;
    max-height: 200px;
    max-width: 280px;
    min-width: 280px;
    border: 4px solid var(--old-gold);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-image-wrapper img {
    border-radius: 20px;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    display: block;
}
.portfolio-info-wrapper {
    background-color: var(--p);
    padding: 20px;
    border-radius: 15px;
    color: var(--main-dark);
}

.portfolio-inner-title {
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: -15px;
    margin-bottom: 0.6rem;
}
.portfolio-link {
    color: var(--purple);
    font-size: 1.2rem;
    font-weight: 550;
    margin-right: 1rem;
}
.portfolio-link:hover {
    text-decoration: underline;
    color: var(--light-purple);
}
.githubrepo-link {
    color: var(--pink);
    font-size: 1.2rem;
    font-weight: 550;
}
.githubrepo-link:hover {
    color: var(--orange);
    text-decoration: underline;
}
.portfolio-content {
    font-weight: 300;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}
.tech-container {
    justify-content: space-around;
}

.language-element-container {
    margin-bottom: 1rem;
}

.languages {
    background-color: var(--light-purple);
    padding: 2px 8px;
    border-radius: 8px;
    border: 1px dashed var(--main-dark);
    margin-right: 0.4rem;
}

.frameworks {
    background-color: var(--m);
    padding: 2px 8px;
    border-radius: 8px;
    border: 1px dashed var(--main-dark);
    margin-right: 0.4rem;
}

/* Footer */

#contact {
    border-top: 2px dashed var(--old-gold);
}

.glow-box {
    height: 5rem;
    width: 5rem;
    margin: 0rem 1rem;
    border-radius: 10px;
    box-shadow: inset 0 0 1px 0 var(--glow-colour), inset 0 0 8px 0 var(--glow-colour);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition-duration: .3s
}

.glow-box:before {
    position: absolute;
    content: "";
    bottom: -60%;
    height: 70%;
    border-radius: 100%;
    width: 70%;
    background-color: var(--glow-colour);
    filter: blur(10px)
}
.glow-box:after {
    position: absolute;
    content: "";
    height: 40%;
    width: 40%;
    border-radius: 100%;
    opacity: 50%;
    background-color: var(--glow-colour);
    filter: blur(8px)
}
.glow-box:hover {
    box-shadow: inset 0 0 1px 0 var(--glow-colour), inset 0 0 8px 0 var(--glow-colour), 0 0 7px 1px var(--glow-colour);
    transform: scale(1.05) translateY(-10px);
}

.glow-box>svg {
    width: 75%;
    height: 75%
}
.glow-box svg path {
    fill: var(--glow-colour)
}

/* Media Queries */

@media screen and (max-width: 425px) {
    /* Nav and footer styles */
    .navbar-content {
        padding: 1rem 1.5rem;
    }
    .glow-box {
        flex-shrink: 0;
        margin: 0rem 0.5rem;
    }
    .download-cv {
        right: 1rem;
    }
}

@media screen and (max-width: 525px) {
    /* Remove margins, shrink headings and containers to ensure fit smaller screen size */
    #home, #about {
        margin: 0rem 0.5rem;
    }

    .header-section h1 {
        padding: 0rem;
        margin-bottom: 0rem;
        font-size: 2.5rem;
    }

    .header-section hr {
        width: 90%;
    }
    .header-message {
        padding: 0.5rem;
        font-size: 0.8rem;
        width: 90%;
    }
    .glow {
        left: 0%;
        width: 300px;
        height: 300px;
    }
    .glow2 {
        display: none;
    }
    .profile-image-container {
        max-width: 320px;
        max-height: 320px;
    }
    .list-container {
        padding: 0rem;
    }
    .portfolio-info-wrapper {
        max-width: 320px;
    }
    .languages, .frameworks {
        font-size: 0.85rem;
    }
}

/* Change layout of portfolio list items on smaller screens to flex-col */
@media screen and (max-width: 830px) {
    .portfolio-items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Change layout of portfolio section to 2 column grid on larger screen sizes */
@media screen and (min-width: 1140px) {
    #portfolio {
        display: grid;
        grid-template-columns: 3fr 7fr;
    }
}
