@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'tailwindcss';

:root {
    --black: #0D0D0D;
    --main-dark: #121212;
    --light-main-dark: #181818;
    --green-dark: #161712;
    --brown-dark: #1F1B18;
    --dark-gold: #AC8F37;
    --old-gold: #B5A642;
    --straw: #EEE07A;
    --amber: #FFBF00;
    --orange: #FF5722;
    --light: #f7f7f7;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #121212;
    font-family: 'Space Mono', monospace;
    font-weight: 600;
    color: var(--light);
}

nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: var(--dark-gold);
    background-color: #0D0D0D;
}

ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0;
}
ul a {
    text-decoration: none;
    color: var(--dark-gold);
    font-size: large;
}

.burger-menu {
    display: none;
    cursor: pointer;
}

.navbar-open {
    margin-top: 200px;
    transition: margin-top 1s ease;
}

/* Header Section */

.header-section {
    color: var(--light);
    height: 95dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0rem 4rem;
    font-size: 1.3rem;
}

.header-section h1 {
    margin-bottom: 1rem;
}
.header-section h2 {
    margin-bottom: 1rem;
}
.header-section hr {
    width: 75%;
}

/* Main Section */
main {
    display: flex;
    flex-direction: column;
    margin: 0rem 5rem;
    padding-top: 5rem;
    height: 100dvh;
}

.image-section > * {
    width: 50%;
    border: 1px solid white;
    margin-top: -3rem;
}

.image-section {
    display: flex;
    justify-content: center;
    align-items: center;

}
.profile-image-container {
    border-radius: 50%;
    background-image: url("src/assets/profile-image.jpeg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
}
.about-skills {
    margin-top: -5rem;
}
.about-skills h2 {
    margin-bottom: 5rem;
}

/* Cards */

.perspective {
    perspective: 1000px;
}

.backface-hidden {
    backface-visibility: hidden;
}

.transform-style {
    transform-style: preserve-3d;
}
.front-side, .back-side {
    border-radius: 20px;
}

.front-side {
    background-color: #312E81;
    box-shadow: 0px 0px 4px 4px var(--black);
}
.back-side {
    background-color: var(--dark-gold);
    box-shadow: 0px 0px 5px 5px var(--light);
}

.card-image {
    width: 85%;
    border-radius: 25px;
}
.card-title {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    padding: 1rem;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: start;
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100vw;
        background-color: var(--brown-dark);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease;
        transition: padding 0.8s;
    }
    .nav-links.active {
        padding: 1rem 2rem;
        border-radius: 10px;
        max-height: 500px;
        transition: max-height 1s ease-out;
    }

    .burger-menu {
        display: flex;
        align-items: center;
        font-size: 4rem;
        padding: 1.5rem 0.5rem 2.5rem;
        border: 3px solid var(--dark-gold);
        border-radius: 10px;
        max-height: 50px;
    }
}
